@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
@import url("https://fonts.cdnfonts.com/css/agency-fb");
@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

* {
  /* font-family: "Prompt", sans-serif; */
  /* font-family: 'Agency FB', sans-serif; */
  font-family: "Anta", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --color1: #000;
  --color2: #cf0a0a;
  --color2-5: #cf0a0a88;
  --color3: #dc5f00;
  --color4: #eeeeee;
}

::selection {
  background: var(--color2);
  color: var(--color1);
} */

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

::selection {
  background-color: black;
  color: white;
}

::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 0px;
  height: 0px;
}
